# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data folders (keep .gitkeep)
data/raw/
data/processed/
!data/raw/.gitkeep
!data/processed/.gitkeep

# MLflow tracking
mlruns/

# IDEs and editors
.vscode/
.idea/
*.swp
*~

# OS files
.DS_Store
Thumbs.db


cache/
# my_delay_model*/
# recursive_delay_model*/
# direct_delay_model*/
# log_transform_model*/
*.cbm
*.pkl
*.joblib
statsforecast_model.pkl

# autoarima_training_4h.log
# autoarima_training.log
catboost_info/

model1/
model2/
model3/
model4/
model5/
model6/
model7/
model8/
model9/
model10/
